.card{
    
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 20px auto;
    text-align: center;
    font-family: sans-serif;
}

.card-avatar{
    width:100px;
    height:100px;
    border-radius:50%;
    border:3px solid #ccc;
}
.card-title{
    margin:10px 0 5px;
    color:#34495e;

}

.card-bio{
    color:#7f8c8d;
    font-size:0.9rem;
}